@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;

  margin: 0;

  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  color: #ddd;
  background-color: #242424;
}

button,
input {
  font-family: inherit;
  font-optical-sizing: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variation-settings: inherit;
  text-rendering: inherit;
  font-size: inherit;
}

canvas.world {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.ui {
  position: absolute;
  left: 0;
  top: 0;

  border-bottom-right-radius: 8px;

  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 12px;

  background-color: #0004;
}

.param {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.param.seed .param-control:nth-child(1) input {
  width: 10em;

  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.param.particle-count .param-control input {
  width: 6em;
}

.param.particle-color-hue-mid .param-control input {
  width: 4em;
}

.param.particle-color-hue-spread .param-control input {
  width: 4em;
}

.param.particle-color-saturation-mid .param-control input {
  width: 4em;
}

.param.particle-color-saturation-spread .param-control input {
  width: 4em;
}

.param.particle-color-alpha .param-control input {
  width: 4em;
}

.param.acc-limit .param-value {
  width: 3em;
}

.param.acc-limit .param-control input {
  width: 6em;
}

.param.frame-limit .param-control input {
  width: 6em;
}

.control {
  display: flex;
  flex-direction: row;
}
